absl-py==0.13.0
aicore-nb-tools==0.0.4
alembic==1.4.1
analytics-python==1.3.1
anyio==3.4.0
appdirs==1.4.4
appnope==0.1.0
asgiref==3.4.1
astroid==2.9.0
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.10.0
black==21.12b0
boto3==1.17.10
botocore==1.20.10
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==1.6.0
cryptography==36.0.1
cycler==0.10.0
databricks-cli==0.14.3
decorator==4.4.2
docker==5.0.0
english-words==1.1.0
entrypoints==0.3
fastapi==0.68.1
Flask==2.0.1
flatbuffers==2.0
gast==0.5.3
gevent==21.12.0
git-filter-repo==2.34.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.39.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
httptools==0.3.0
idna==3.3
image-segmentation-aicore==1.0.1
importlib-metadata==4.8.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.10.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.2.1
jupyter-client==6.1.7
jupyter-core==4.6.3
kafka-python==2.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.7.1
libclang==14.0.1
lxml==4.5.2
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mccabe==0.6.1
mixpanel-utils==2.2.5
mlflow==1.20.2
monotonic==1.6
mypy-extensions==0.4.3
names==0.3.0
nbformat==5.1.3
networkx==2.6.3
numpy==1.22.2
oauthlib==3.1.1
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.0
pandas==1.4.1
parameterized==0.8.1
parso==0.7.1
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.4.0
prometheus-client==0.11.0
prometheus-flask-exporter==0.18.2
prompt-toolkit==3.0.8
protobuf==3.17.3
psycopg2==2.9.2
ptyprocess==0.6.0
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.7.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.7.1
PyJWT==2.3.0
pylint==2.12.2
PyNaCl==1.5.0
pynput==1.7.6
pyobjc-core==8.1
pyobjc-framework-ApplicationServices==8.1
pyobjc-framework-Cocoa==8.1
pyobjc-framework-Quartz==8.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypd==1.1.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
pyspark==3.1.2
python-dateutil==2.8.2
python-dotenv==0.19.2
python-editor==1.0.4
pytils==0.3
pytz==2021.1
PyYAML==6.0
pyzmq==19.0.2
querystring-parser==1.2.4
random-user-agent==1.0.1
regex==2021.7.6
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.3.4
scikit-learn==0.24.2
scipy==1.7.0
segment==0.2.0
selenium==4.0.0
simplejson==3.17.6
six==1.16.0
slack-sdk==3.13.0
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.20
sqlparse==0.4.1
starlette==0.16.0
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.3
tools==0.1.9
torch==1.9.0
torch-tb-profiler==0.4.0
torchvision==0.10.0
tornado==6.0.4
tqdm==4.61.2
traitlets==5.0.4
trio==0.19.0
trio-websocket==0.9.2
typeform==1.1.0
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.16.0
watchgod==0.7
wcwidth==0.2.5
websocket-client==1.1.0
websockets==10.1
Werkzeug==2.0.1
wrapt==1.13.3
wsproto==1.0.0
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
